{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login </title>
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' % }" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
   

    
</head>
    <body>
      {% block javascript %}
      <script >
        alert("{{message}}")
      </script>
      {% endblock %}
        <div class="main">
            <div class="container">
                <div class="signup-content">
                   
                   
                    <div class="signup-form">
                        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
                            <div class="hero-container" data-aos="fade-in">
                              <h1>iPortfolio Provides</h1>
                              <p>Services like <span class="typed" data-typed-items="Referrals,Chatting,Meetings,Public Postings"></span></p>
                            </div></section>
                          <section><div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                            <section id="about" class="about">
                                <div class="container">
                          
                                  <div class="section-title">
                                    <h2>login on iPortfolio</h2>
                                  </div></div></section>
                            <form action='' method="post" class="register-form" id="register-form" enctype="multipart/form-data">
                              {% csrf_token %}
                               
                                
                              <div class="row">
                                <div class="form-group col-md-6">
                                  <label for="name">Username :</label>
                                  <input type="text" name="name" class="form-control" id="name" required/>
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="name">PASSWORD :</label>
                                  <input type="password" class="form-control" name="password" id="password" required/>
                                </div>
                              </div>
                             
                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="reset" name="reset" id="reset" />
                            <input type="submit" value="Submit Form" class="btn btn-primary btn-block" name="submit" id="submit" />
                        </div>
                             
                              
                            </form>
                        </div>
                    </section>
                       
                            
                            
                                
                              
                            
  
                                        
                                
                                       
                           
                                
                            
                            
                       
                    </div>
                </div>
            </div>
    
        </div>
        <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>
        <script src="{% static 'assets/vendor/purecounter/purecounter.js'%}"></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
        <script src="{% static 'assets/vendor/typed.js/typed.min.js'%}"></script>
        <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
      
        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/main.js'%}"></script>
        
    </body>
    </html>  